$darkblue: linear-gradient(135deg, #2dc9eb 0%, #14d2b8 100%);
$darkgray: #343434;
$darkgreen: #0c5960;
$white: #ffffff;
$offwhite: #f9f9f9;
$lightgray: #f6f6f6;
$midgray: #e0e0e0;
$black: #000000;
$darkpanel: #505050;
